# Latex Files
*.aux
*.fdb_latexmk
*.log
# *.pdf
*.synctex.gz
*.toc
*.fls
*.out

# Latex Bibliography Files
*.bbl
*.blg
*.run.xml
*blx.bib

# Python Files
*.pyc

# Ignore Simulation Output File
Simulation_Output.csv
*.nav
*.snm
